<div class="nenhuma-campanha-encontrada-layout">
  <div class="container">
    <div class="nenhuma-campanha-encontrada">
      <img
        class="nenhuma-campanha-encontrada__img"
        src="../../../assets/images/nenhumacampanhaencontrada/nenhumaCampanhaEncontrada.svg"
        alt="Nenhuma campanha encontrada"
      />
      <h1 class="nenhuma-campanha-encontrada__titulo">
        Nenhuma campanha encontrada
      </h1>
      <p class="nenhuma-campanha-encontrada__paragrafo">
        Não encontramos nenhuma campanha. Cadastre uma nova campanha e comece
        gerenciá-las e metrificá-las!
      </p>
    </div>
  </div>
</div>
