<div
  class="modal-excluir-campanha-layout"
  [ngClass]="{
    exibir: getDisplayModalExcluirCampanha(),
    esconder: !getDisplayModalExcluirCampanha()
  }"
>
  <div class="container">
    <div class="modal-excluir-campanha">
      <div>
        <h1 class="modal-excluir-campanha__titulo">Excluir Campanha</h1>
        <p class="modal-excluir-campanha__paragrafo">
          Deseja realmente excluir a campanha
          <strong>{{getCampanhaASerExcluida()?.descCampanha}}</strong>?
        </p>
      </div>
      <div class="container-botoes">
        <app-btnlaranja
          innerText="Excluir"
          [displayIcon]="false"
          [excluirCampanha]="true"
        ></app-btnlaranja>
        <button
          class="modal-excluir-campanha__btn-cancelar"
          (click)="setDisplayModalExcluirCampanha(false)"
        >
          Cancelar
        </button>
      </div>
      <button
        class="modal-excluir-campanha__btn-fechar"
        (click)="setDisplayModalExcluirCampanha(false)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-x btn-fechar__svg-close"
          viewBox="0 0 16 16"
        >
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
